---
import { VERSUS } from "../../consts/versus";
import Layout from "../../layouts/Layout.astro";
const { id } = Astro.params;
const versus = VERSUS.find((versus) => versus.id === id);

export const prerender = false;
const names = ['smash', 'zullyy', 'fanodric', 'glogloking', 'cristorata7']
const idSeguro = id ?? '';
const claseExtra = names.includes(idSeguro) ? 'flex-row-reverse' : '';
const clases = `max-w-6xl mx-auto flex absolute inset-0 justify-between items-center ${claseExtra}`.trim();
---

<Layout>
  <section class="relative h-full">
    <div
      class="bg-[url('/images/hero.png')] bg-cover bg-top w-full mask-fade-bottom absolute inset-0"
    >
    </div>
    <div class={clases}>
      <div class="fighter-info">
        <h3 class="text-8xl">{id}</h3>
      </div>
          <img
      transition:name={`image-${id}`}
      src={`/images/fighters/card/${id}.png`}
      alt={versus?.name}
      decoding="async"
      class="w-[300px]"
      fetchpriority="low"
      decoding="async"
      data-id={`hero-image-${id}`}
    />
    </div>
  </section>
</Layout>
